<div class="body-wrapper-color">
    <div class="body-mat">
        {{!-- this can be dynamically populated with the club name --}}
        <h1 class="page-title">{{clubName}}</h1>
        <p>Logged in as: {{email}}</p>
        <br>
        <div class="columns club-columns">
            <div class="column club-column"><img class="book-cover" src="{{image}}">
                <h2>Currently reading:</h2>
                <p class="book-title">{{bookTitle}}</p>
                <p class="book-author">by: {{author}}</p>
                <p class="book-year">Year: {{year}}</p>
            </div>
            <div class="column club-column">
                <h2>Next meeting:</h2>
                </br>
                <p>Wednesday, October 21st 7:30pm EST</p>

                <p id="launch-meeting">
                    <a href="https://meet.google.com/npp-emef-pfp">Click here to launch meeting</a>
                </p>
            </div>
        </div>
        <div class="columns club-columns">
            <div class="column club-column">
                <h2>Member list:</h2>
                <table class="table members-table">
                    <tbody id="member-table-body">
                        <thead>
                            <tr>
                                <th>Member Name</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                    </tbody>
                </table>
                <button class="button hidden bookish-primary" id="invite-btn">Invite new member</button>
            </div>
        </div>
        <div class="columns club-columns myclub-bottom-section">
            <div class="column club-column" id="my-club-discussion">
                <h2>Message Board</h2>
                <br />
                <p>Most recent messages appear at the top. Scroll down to see older messages.</p>
                <br />
                <div id="messages-container">
                    <article class="message is-dark">
                        {{!-- <div class="message-header">
                            Hard-Coded
                        </div> --}}
                        {{!-- <div class="message-body">
                            This message is hard coded. Remove before deployment.
                        </div> --}}
                    </article>

                </div>
                <div id="new-message-div">Post a new message<textarea class="textarea" id="new-msg-body"
                        placeholder="Type your message here"></textarea>
                    </br>
                    <div class="control">
                        <button class="button bookish-primary" id="submit-message-btn">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>