{{!-- {{#each books}}

Title: {{title}}

{{/each}} --}}

<div class="body-wrapper-with-mat">
    <div class="body-mat">
        <div id="search-results-heading">
            <h1 class="page-title">Search Results</h1>
            <p>You searched for: {{name}}</p>
        </div>
        <div id="div-for-padding">
            {{#each books}}
            <div class="columns search-results-columns">


                <div class="column book-info-div search-results-column"><img class="book-cover" src="{{image_url}}">
                    <p class="book-title">Title: {{title}}</p>
                    <p class="book-author">Author: {{author.name}}</p>
                    <p class="book-year">Publication Year: {{original_publication_year}}</p>
                </div>

                <div class="column clubs-reading-this search-results-column">
                    <p>Clubs currently reading this book:</p>
                    <div class="clubs-list-container">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>a club name</td>
                                    <td>join button</td>
                                </tr>
                                <tr>
                                    <td>a club name</td>
                                    <td>join button</td>
                                </tr>
                                <tr>
                                    <td>a club name</td>
                                    <td>join button</td>
                                </tr>
                                <tr>
                                    <td>a club name</td>
                                    <td>join button</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{!-- a button to add a new club. We need only turn this on if we can prepopulate the create-a-club form with a specific book. --}}
                    {{!-- <button class="button bookish-primary">hello
                    world</button> --}}
                </div>


            </div>{{/each}}
        </div>
    </div>
</div>